<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>{{buttonTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onAdd()" [formGroup]="product">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item>
              <ion-label>Code:</ion-label>
              <ion-input class="ion-text-uppercase" name="code" type="text" placeholder="Insert code, ex: MYTZ 1234, UK 13462, KOB 8472" formControlName="code"></ion-input>
            </ion-item>
            <ion-item color="danger" *ngIf="formProductControls.code.invalid && (formProductControls.code.dirty || formProductControls.code.touched)">
                <ion-text *ngIf="!formProductControls.code.codeChecker">
                    Code is not correct, ex: MYTZ 1234, UK 13462, KOB 8472.
                </ion-text>
              </ion-item>
            <ion-item>
              <ion-label>Quantity:</ion-label>
              <ion-input  name="quantity" min="1" type="number" placeholder="Insert quantity" formControlName="quantity"></ion-input>
            </ion-item>
            <ion-item color="danger" *ngIf="formProductControls.quantity.invalid && (formProductControls.quantity.dirty || formProductControls.quantity.touched)">
              <ion-text *ngIf="!formProductControls.quantity.quantityChecker">
                  Number type must be integer and greater than 1.
              </ion-text>
            </ion-item>
            <ion-item>
              <ion-label>Floor:</ion-label>
              <ion-select placeholder="Select floor" formControlName="floor">
                  <ion-select-option *ngFor="let floor of floors" [value]="floor">Floor {{floor}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Section:</ion-label>
              <ion-select placeholder="Select section" formControlName="section">
                  <ion-select-option *ngFor="let section of sections" [value]="section">Section {{section}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item color="success" *ngIf="showMessage">
              <ion-text *ngIf="!editMode">
                Product is added successfully.
              </ion-text>
              <ion-text *ngIf="editMode">
                  Product is updated successfully.
              </ion-text>
            </ion-item>
            <ion-item color="warning" *ngIf="errorMessage">
              <ion-text>
                  {{errorMessage}}
              </ion-text>
            </ion-item>
          </div>
          <div *ngIf="!editMode" padding>
              <ion-button color="success" size="large" type="submit" [disabled]="product.invalid" expand="block">Submit</ion-button>
          </div>
          <div *ngIf="editMode" padding>
              <ion-button color="success" size="large" type="submit" [disabled]="product.invalid">Submit</ion-button>
              <ion-button color="danger" size="large" type="button" (click)="onCancel()" [disabled]="product.invalid">Cancel</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</form>

</ion-content>
